body {
    font-family: Arial, sans-serif;
}

.left {
    width: 70%;
}

.box {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.right {
    width: 30%;
    border-left: 1px solid black;
    min-height: 150px;
}

.right img {
    width: 100%;
    height: 100%;
    max-height: 200px; 
    object-fit: contain;
    display: block;
}
